name: Build and Release Sub-Store

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write

jobs:
  linux_build:
    name: Linux Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: sub-store-org/Sub-Store
          path: Sub-Store

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'
          cache-dependency-path: Sub-Store/backend/pnpm-lock.yaml

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install global dependencies
        run: |
          corepack enable
          npm install -g pkg

      - name: Install backend dependencies
        run: |
          cd Sub-Store/backend
          pnpm i --no-frozen-lockfile

      - name: Generate release tag
        id: tag
        run: |
          cd Sub-Store/backend
          ver=$(node -e "console.log(require('./package.json').version)")
          date=$(date +'%Y%m%d')
          echo "release_tag=${ver}-${date}" >> $GITHUB_OUTPUT

      - name: Build backend
        run: |
          cd Sub-Store/backend
          echo '{"root": true, "ignorePatterns": ["**/*"]}' > .eslintrc.json
          pnpm run build

      - name: Bundle backend
        run: |
          cd Sub-Store/backend
          pnpm bundle:esbuild

      - name: Package backend for Linux
        run: |
          pkg ./Sub-Store/backend/dist/sub-store.bundle.js -t linux-node18 --out-path ./sub-store-linux

      - name: Compress backend package
        run: tar czf sub-store-linux.tar.gz ./sub-store-linux

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          name: Sub-Store ${{ steps.tag.outputs.release_tag }}
          files: sub-store-linux.tar.gz
          draft: false
          make_latest: true
